html{
  font-size: 14px;
  background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
.open , .close {
  display: none;
}

#menu {
  display: none;
}

button {
  display: none;
}

#menu-sp {
  display: none;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 17em;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  background-color: rgba(255,255,255,0.9);
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu a {
  margin-left: 2em;
  color: rgb(0,0,0);
}

#home{
  width: 100vw;
  height: 100vh;
  background: url(image/IMG_0224-1.jpeg) center no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  z-index: 0;
  /* IE非対応のプロパティ */
  background-blend-mode: overlay;
  position: relative;
}

.home-text{
  position: absolute;
  top: 90%;
  left: 33%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.home-text span{
  color: yellow;
}

h2 {
  font-size: 1.5em;
  width: fit-content;
  margin: 4em auto 0 auto;
  padding-top: 1em;
  border-top: 2px solid green;
  font-weight: bolder;
}

h3 {
  font-size: 1.5em;
  font-weight: bolder;
}

.content-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
}
.content-right > img{
  width: 50vw;
  height: 50vh;
}

.content-right > div{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  background-color: white;
  position: absolute;
  left: 45vw;
}

.content-right > div > img {
  width: 10vw;
  margin: 2em;
}

.content-right > div > h3 {
  margin-left: 1.5em;
}

.content-right > div > p {
  margin-left: 2.2em;
  margin-top: 1em;
  color: gray;
}

.content-right > div > a {
  margin-left: 2.2em;
  margin-top: 7em;
}

.content-left{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 3em;
}
.content-left > img{
  width: 50vw;
  height: 50vh;
}

.content-left > div{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  background-color: white;
  position: absolute;
  left: 15vw;
}

.content-left > div > img {
  width: 10vw;
  margin: 2em;
}

.content-left > div > h3 {
  margin-left: 1.5em;
}

.content-left > div > p {
  margin-left: 2.2em;
  margin-top: 1em;
  color: gray;
}

.content-left > div > a {
  margin-left: 2.2em;
  margin-top: 7em;
}

#service > a {
  width: 85vw;
  display: block;
  color: black;
  font-weight: bolder;
  text-align: right;
  margin-top: 3em;
}

#vision{
  background-image: url(image/bg01.jpg);
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#vision > h3 {
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: normal;
}

#vision > h3 > span {
  font-weight: bolder;
}


#vision > div {
  display: flex;
  justify-self: center;
  margin-top: 2em;
}

.text-box {
  padding: 0 3em;
}
.text-box > p:first-child{
  font-size: 2em;
  font-weight: bolder;
  color: green;
  margin-bottom: 0.5em;
}

#vision > div > div:nth-child(1){
  border-right: 1px solid gray;
}

#vision > div > div:nth-child(2){
  border-right: 1px solid gray;
}

#news {
  width: 100vw;
}

#news > div {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  width: 70vw;
}

.news-content {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid gray;
}

.news-content > img {
  width: 10vw;
  height: 9vh;
}

.news-text > p:first-child{
  color: gray;
  font-size: 0.9em;
}

.news-text > p:first-child > span{
  color: black;
  margin-left: 1em;
  font-weight: bolder;
}

.news-text > p:last-child {
  color: gray;
  margin-top: 0.3em;
  font-size: 1.1em;
}

#news > a {
  width: 85vw;
  display: block;
  color: black;
  font-weight: bolder;
  text-align: right;
  margin-top: 3em;
}

#aboutus {
  width: 100vw;
  height: 100vh;
  background-image: url(image/bg02.jpg);
}

.aboutus {
  margin:0 auto;
  display: flex;
  justify-content: center;
  width: 70vw;
}

.aboutus > div {
  margin-top: 3em;
}

.aboutus-pic {
  width: 40vw;
}

.aboutus-pic > img {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
}

.company {
  display: flex;
  width: 40vw;
}

.company > .name{
  margin-left: 1em;
}

.item {
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  width: 6em;
  border-bottom: 1px solid green;
  box-sizing: border-box;
}

.name {
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid gray;
  color: gray;
}

.name > a {
  color: green;
}

#aboutus > a {
  width: 85vw;
  display: block;
  color: black;
  font-weight: bolder;
  text-align: right;
  margin-top: 3em;
}

#recruit > h3 {
  text-align: center;
  margin: 3em 0;
}

#recruit > h3 > span {
  color: green;
}

.recruit-content {
  width: 70vw;
  height: 17vh;
  margin: 0 auto;
  background-color: white;
}

.recruit-content > div:first-child {
  text-align: center;
  padding: 2em 0;
  font-size: 1.2em;
  font-weight: bolder;
}

.recruit-content1 {
  display: flex;
  justify-content: space-between;
  margin: 1em 10em;
  font-size: 1.2em;
}

.recruit-content1 > div {
  width: 25%;
  padding: 0.5em;
  text-align: center;
  border: 1px solid gray;
}

.recruit-content1 > div > a {
  color: black;
  font-weight: bold;
}

.recruit-content1 > div > a > span {
  color: green;
}

#recruit > a {
  width: 85vw;
  display: block;
  color: black;
  font-weight: bolder;
  text-align: right;
  margin-top: 3em;
}

footer{
  background-color: black;
  width: 100vw;
}

.footer-main{
  width: 70vw;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  justify-content: space-between;
}

.footer-left{
  color:white;
  display: flex;
  flex-direction: column;
}

.footer-left > h1 {
  font-size: 3em;
}

.footer-left > p:last-child {
  margin-top: 2em;
  color: gray;
}


.footer-right > div > a {
  color: white;
  display: inline-block;
  text-align: right;
  margin-left: 1em;
}

.footer-right > div:first-child {
  width: 35vw;
  text-align: right;
}

.footer-right > div:last-child {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.footer-right > div:last-child > a{
  border: 1px solid gray;
  padding: 0.5em 1em;
}

.footer-right > div:last-child > a > span{
  color: green;
}
}

@media (max-width: 767px) and (min-width: 412px) {
  header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
  }

  header h1 {
    margin-left: 6em;
  }

  .menu {
    display: none;
  }

  .menu a {
    margin-left: 2em;
    color: rgb(0,0,0);
  }

  #home{
    width: 100%;
    height: 100vh;
    background: url(image/IMG_0224-1.jpeg) center no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    z-index: 0;
    /* IE非対応のプロパティ */
    background-blend-mode: overlay;
    position: relative;
  }

  .home-text{
    position: absolute;
    top: 90%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    color: white;
    font-size: 2em;
    font-weight: bolder;
  }

  .home-text span{
    color: yellow;
  }

  h2 {
    font-size: 1.5em;
    width: fit-content;
    margin: 4em auto 0 auto;
    padding-top: 1em;
    border-top: 2px solid green;
    font-weight: bolder;
  }

  h3 {
    font-size: 1.5em;
    font-weight: bolder;
  }

  .content-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35em;
    margin-top: 3em;
  }
  .content-right > img{
    width: 50vw;
    height: 25vh;
  }
  
  .content-right > div{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 35vh;
    background-color: white;
    position: absolute;
    left: 45vw;
  }
  
  .content-right > div > img {
    width: 20vw;
    margin: 2em;
  }
  
  .content-right > div > h3 {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em;
  }
  
  .content-right > div > p {
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-top: 1em;
    color: gray;
  }
  
  .content-right > div > a {
    margin-left: 2.5em;
    margin-top: 4em;
  }
  
  .content-left{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3em;
  }
  .content-left > img{
    width: 50vw;
    height: 25vh;
  }
  
  .content-left > div{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 35vh;
    background-color: white;
    position: absolute;
    left: 15vw;
  }
  
  .content-left > div > img {
    width: 10vw;
    margin: 2em;
  }
  
  .content-left > div > h3 {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em;
  }
  
  .content-left > div > p {
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-top: 1em;
    color: gray;
  }
  
  .content-left > div > a {
    margin-left: 2em;
    margin-top: 7em;
  }
  
  #service > a {
    width: 90vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }

  #vision{
    background-image: url(image/bg01.jpg);
    background-size: cover;
    height: 60vh;
    text-align: center;
  }

  #vision > h3 {
    margin-top: 1em;
    font-size: 2.5em;
    font-weight: normal;
  }

  #vision > h3 > span {
    font-weight: bolder;
  }

  #vision > div {
    margin-top: 2em;
  }

  .text-box {
    margin: 0 auto;
    width: 70vw;
  }

  .text-box > p > br {
    display: none;
  }

  .text-box > p:first-child{
    font-size: 2em;
    font-weight: bolder;
    color: green;
    margin-top: 1em;
  }
  
  #news {
    width: 100vw;
  }
  
  #news > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85vw;
  }
  
  .news-content {
    display: flex;
    padding: 1em 0;
    border-bottom: 1px solid gray;
  }
  
  .news-content > img {
    width: 10vw;
    height: 9vh;
  }
  
  .news-text > p:first-child{
    color: gray;
    font-size: 0.9em;
  }
  
  .news-text > p:first-child > span{
    color: black;
    margin-left: 1em;
    font-weight: bolder;
  }
  
  .news-text > p:last-child {
    color: gray;
    margin-top: 0.3em;
    font-size: 1.1em;
  }
  
  #news > a {
    width: 92vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  #aboutus {
    width: 100vw;
    height: 120vh;
    background-image: url(image/bg02.jpg);
  }
  
  .aboutus {
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 90vw;
  }
  
  .aboutus > div {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }
  
  .aboutus-pic {
    width: 90vw;
  }
  
  .aboutus-pic > img {
    width: 100%;
    height: 40vh;
  }
  
  .company {
    display: flex;
    width: 90vw;
  }
  
  .company > .name{
    margin-left: 1em;
  }
  
  .item {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    width: 6em;
    border-bottom: 1px solid green;
    box-sizing: border-box;
  }
  
  .name {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid gray;
    color: gray;
  }
  
  .name > a {
    color: green;
  }

  #aboutus > a {
    width: 85vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  #recruit > h3 {
    text-align: center;
    margin: 3em 0;
  }
  
  #recruit > h3 > span {
    color: green;
  }
  
  .recruit-content {
    width: 80vw;
    height: 20vh;
    margin: 0 auto;
    background-color: white;
  }
  
  .recruit-content > div:first-child {
    text-align: center;
    padding: 2em 0;
    font-size: 1.2em;
    font-weight: bolder;
  }
  
  .recruit-content1 {
    display: flex;
    flex: wrap;
    margin: 1em 2em;
    font-size: 1.2em;
  }
  
  .recruit-content1 > div {
    width: 30em;
    padding: 0.5em;
    margin:0.5em 0.5em;
    text-align: center;
    border: 1px solid gray;
  }
  
  .recruit-content1 > div > a {
    color: black;
    font-weight: bold;
  }
  
  .recruit-content1 > div > a > span {
    color: green;
  }
  
  #recruit > a {
    width: 90vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  footer{
    background-color: black;
    width: 100vw;
  }
  
  .footer-main{
    width: 70vw;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left{
    color:white;
    display: flex;
    flex-direction: column;
  }
  
  .footer-left > h1 {
    font-size: 3em;
  }
  
  .footer-left > p:last-child {
    margin-top: 2em;
    color: gray;
  }
  
  
  .footer-right > div > a {
    color: white;
    display: inline-block;
    text-align: right;
    margin-left: 1em;
  }
  
  .footer-right > div:first-child {
    width: 35vw;
    text-align: right;
  }
  
  .footer-right > div:last-child {
    width: 35vw;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-right > div:last-child > a{
    border: 1px solid gray;
    padding: 0.5em 1em;
  }
  
  .footer-right > div:last-child > a > span{
    color: green;
  }
}


@media screen and (max-width: 411px) {
  header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
  }

  header h1 {
    margin-left: 6em;
  }

  .menu {
    display: none;
  }

  .menu a {
    margin-left: 2em;
    color: rgb(0,0,0);
  }

  #home{
    width: 100%;
    height: 100vh;
    background: url(image/IMG_0224-1.jpeg) center no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    z-index: 0;
    /* IE非対応のプロパティ */
    background-blend-mode: overlay;
    position: relative;
  }

  .home-text{
    position: absolute;
    top: 80%;
    padding: 1em;
    z-index: 9999;
    color: white;
    font-size: 2em;
    font-weight: bolder;
  }

  .home-text span{
    color: yellow;
  }

  h2 {
    font-size: 1.5em;
    width: fit-content;
    margin: 4em auto 0 auto;
    padding-top: 1em;
    border-top: 2px solid green;
    font-weight: bolder;
  }

  h3 {
    font-size: 1.5em;
    font-weight: bolder;
  }

  .content-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40em;
    margin-top: 3em;
  }
  .content-right > img{
    width: 50vw;
    height: 15vh;
  }
  
  .content-right > div{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 35vh;
    background-color: white;
    position: absolute;
    left: 45vw;
  }
  
  #service > div:nth-child(2){
    margin-top: 0;
  }
  .content-right > div > img {
    width: 30vw;
    margin: 2em;
  }
  
  .content-right > div > h3 {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em;
  }
  
  .content-right > div > p {
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-top: 1em;
    font-size: 0.9em;
    color: gray;
  }

  #service > div:nth-child(4) > div > img {
    width: 15vw;
  }
  .content-right > div > a {
    margin-left: 2.5em;
    margin-top: 4em;
  }
  
  .content-left{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3em;
  }
  .content-left > img{
    width: 50vw;
    height: 15vh;
  }
  
  .content-left > div{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 35vh;
    background-color: white;
    position: absolute;
    left: 15vw;
  }
  
  .content-left > div > img {
    width: 30vw;
    margin: 2em;
  }
  
  .content-left > div > h3 {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.8em;
  }

  #service > div.content-left > div > h3 > br {
  display: none;
  }

  .content-left > div > p {
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-top: 1em;
    font-size: 0.9em;
    color: gray;
  }
  
  .content-left > div > a {
    margin-left: 2em;
    margin-top: 7em;
  }
  
  #service > a {
    width: 90vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }

  #vision{
    background-image: url(image/bg01.jpg);
    background-size: cover;
    height: 60vh;
    text-align: center;
  }

  #vision > h3 {
    margin-top: 1em;
    font-size: 2.5em;
    padding:0 0.5em;
    font-weight: normal;
  }

  #vision > h3 > span {
    font-weight: bolder;
  }

  #vision > div {
    margin-top: 2em;
  }

  .text-box {
    margin: 0 auto;
    width: 80vw;
  }

  .text-box > p > br {
    display: none;
  }

  .text-box > p:first-child{
    font-size: 1.5em;
    font-weight: bolder;
    color: green;
    margin-top: 1em;
  }
  
  #news {
    width: 100vw;
  }
  
  #news > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85vw;
  }
  
  .news-content {
    display: flex;
    padding: 1em 0;
    border-bottom: 1px solid gray;
  }
  
  .news-content > img {
    width: 10vw;
    height: 9vh;
  }
  
  .news-text > p:first-child{
    color: gray;
    font-size: 0.9em;
  }
  
  .news-text > p:first-child > span{
    color: black;
    margin-left: 1em;
    font-weight: bolder;
  }
  
  .news-text > p:last-child {
    color: gray;
    margin-top: 0.3em;
    font-size: 1.1em;
  }
  
  #news > a {
    width: 92vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  #aboutus {
    width: 100vw;
    height: 120vh;
    background-image: url(image/bg02.jpg);
  }
  
  .aboutus {
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 90vw;
  }
  
  .aboutus > div {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }
  
  .aboutus-pic {
    width: 90vw;
  }
  
  .aboutus-pic > img {
    width: 100%;
    height: 25vh;
  }
  
  .company {
    display: flex;
    width: 90vw;
  }
  
  .company > .name{
    margin-left: 1em;
  }
  
  .item {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    width: 6em;
    border-bottom: 1px solid green;
    box-sizing: border-box;
  }
  
  .name {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid gray;
    color: gray;
  }
  
  .name > a {
    color: green;
  }

  #aboutus > a {
    width: 85vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  #recruit > h3 {
    text-align: center;
    width: 90vw;
    margin: 3em auto;
  }
  
  #recruit > h3 > span {
    color: green;
  }
  
  .recruit-content {
    width: 80vw;
    height: 20vh;
    margin: 0 auto;
    background-color: white;
  }
  
  .recruit-content > div:first-child {
    text-align: center;
    padding: 2em 0;
    font-size: 1.2em;
    font-weight: bolder;
  }
  
  .recruit-content1 {
    display: flex;
    flex: wrap;
    margin: 1em 2em;
    font-size: 1.2em;
  }
  
  .recruit-content1 > div {
    width: 30em;
    padding: 0.5em;
    margin:0.5em 0.5em;
    text-align: center;
    border: 1px solid gray;
  }
  
  .recruit-content1 > div > a {
    color: black;
    font-weight: bold;
  }
  
  .recruit-content1 > div > a > span {
    color: green;
  }
  
  #recruit > a {
    width: 90vw;
    display: block;
    color: black;
    font-weight: bolder;
    text-align: right;
    margin-top: 3em;
  }
  
  footer{
    background-color: black;
    width: 100vw;
  }
  
  .footer-main{
    width: 70vw;
    margin: 0 auto;
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left{
    color:white;
    display: flex;
    flex-direction: column;
  }
  
  .footer-left > h1 {
    font-size: 3em;
  }
  
  .footer-left > p:last-child {
    margin-top: 2em;
    color: gray;
  }
  
  
  .footer-right > div > a {
    color: white;
    display: inline-block;
    text-align: right;
    margin-left: 1em;
  }
  
  .footer-right > div:first-child {
    width: 35vw;
    text-align: right;
  }
  
  .footer-right > div:last-child {
    width: 35vw;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-right > div:last-child > a{
    border: 1px solid gray;
    padding: 0.5em 1em;
  }
  
  .footer-right > div:last-child > a > span{
    color: green;
  }
}

/* アニメーション */
.up-animation {
  opacity: 1;
animation: up-animation 1s ease-in-out
}

@keyframes up-animation {
0%{
  opacity: 0;
  transform: translateY(50px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

.up2s-animation {
  opacity: 1;
animation: up2s-animation 2s ease-in-out
}
@keyframes up2s-animation {
0%{
  opacity: 0;
  transform: translateY(50px);
}
  50%{
      opacity: 0;
      transform: translateY(50px);
  }
100% {
  opacity: 1;
  transform: translateY(0);
}
}


.down-animation {
  opacity: 1;
animation: down-animation 1s ease-in-out
}
@keyframes down-animation {
0%{
  opacity: 0;
  transform: translateY(-50px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

.down2s-animation {
  opacity: 1;
animation: down2s-animation 2s ease-in-out
}
@keyframes down2s-animation {
0%,50%{
  opacity: 0;
  transform: translateY(-50px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}


.left-animation {
  opacity: 1;
animation: left-animation 1s ease-in-out
}
@keyframes left-animation {
0%{
  opacity: 0;
  transform: translateX(50px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}

.right-animation {
  opacity: 1;
animation: right-animation 1s ease-in-out
}
@keyframes right-animation {
0%{
  opacity: 0;
  transform: translateX(-50px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}